<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title> Help Desk </mat-card-title>
    <mat-card-subtitle> Dicas de um DEV </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/home-image.svg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Esse é um sistema desenvolvido por mim, durante o curso de Dev Full Stack, do Dicas de um DEV, na Udemy. è um sistema desenvolvido em Angular e Spring Boot 2.
    </p>
  </mat-card-content>
</mat-card>
